$museo: "MuseoSansCyrl", "Arial", sans-serif;

$black: #1A1A1A;

$white: #ffffff;
$grey: #949494;
$green: #36BA5F;
$bg-color-support: #93BBEA;
$bg-social-link: #F9F9F9;

$transition: all 0.3s ease-in;

$mobile-width: 576px;
$min-tablet-width: 768px;
$tablet-width: 900px;
$min-desktop-width: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

